# Neon DB PostgreSQL Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://ep-restless-poetry-b4lh4k3z-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channelBinding=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=npg_ilZCLr8NjD9P

# Optional Demo Data Seed toggle (true/false)
APP_SEED_DEMO_DATA=true
